// Contenido del archivo _footer.scss

footer {
  color: white;
  background-color: black;
  position: static;
  bottom: 0;
}

.row {
  display: flex;
  padding: 1rem;
}

.column {
  width: calc(100% / 3);
  padding: 0 0.9375rem;
}

.column a:hover {
  color: gray;
}

h4 {
  margin-bottom: 0.9375rem;
  font-size: 1.5rem;
  text-align: center;
}

p {
  font-size: 1rem;
  line-height: 1.3rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  margin-bottom: 0.625rem;
}

ul li a {
  color: white;
  font-size: 1rem;
}

ul li i {
  color: none;
}

ul li a:hover {
  color: none;
}

ul.social-icons {
  display: flex;
  column-gap: 0.625rem;
}

.social-icons i {
  color: white;
}

ul.social-icons li {
  margin-bottom: 0rem;
}

ul.social-icons li a {
  display: grid;
  place-content: center;
  width: 2.rem;
  height: 2.5rem;
  border-radius: 100%;
}

ul.social-icons li:hover a {
  background-color: none;
  color: gray;
}

@media screen and (max-width: 768px) {
  .column {
    margin: 0.4rem 0;
    width: 100%;
    padding: 0;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
  }

  h4 {
    font-size: 1.3125rem;
  }

  p {
    font-size: 0.9375rem;
  }

  ul li a {
    font-size: 0.9375rem;
  }
}

